.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.herobtn {
    background-color: var(--color-high);
    filter: saturate(120%);
    position: relative;
    z-index: 1;
    margin-top: 15px;
}