.catalogue {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.2rem 12rem;
}

@media screen and (max-width: 1024px) {
    .catalogue {
        grid-template-columns: 1fr 1fr;
        padding: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .catalogue {
        grid-template-columns: 1fr;
        padding: 1.2rem;
    }
}