header,
footer {
    background-color: var(--color-high);
    color: var(--color-block-bg);
}

header {
    padding: 15px;
    height: 70px;
}

footer {
    bottom: 0;
    padding: 2px;
}

header,
footer {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

main {
    padding: 120px 0;
}

main h1 {
    text-align: center;
}

.cart {
    justify-self: end;
}

.nav-links {
    display: flex;
    gap: 24px;
}

.nav-links * {
    color: var(--color-block-bg);
    font-size: clamp(20px, 2vw, 28px);
}

.pixel-art {
    image-rendering: pixelated;
}

.pikachu-bg {
    position: fixed;
    top: 20vh;
    left: 30%;
    width: 1500px;
    filter: invert(83%) sepia(64%) saturate(7000%);
    transform: rotate(6deg);
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
}
