:root {
  --color-bg: #fff0b1;
  --color-text: #7a403a;
  --color-text-lighter: #94605c;
  --color-accent: #dd9d28;
  --color-accent-hover: orange;
  --color-block-bg: #fffafa;
  --color-green: #70c16d;
  --color-price: #1aaa70;
  --color-blue: #4a92ea;
  --color-high: #d16565;
  --color-mid: #cf984f;
  --color-low: #d1bb58;
  --color-default: #a58559;

  font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 300;
  color: var(--color-accent);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

h1 {
  font-size: 4.5em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6, button, img, .tag, input {
  z-index: 1;
}

button {
  background-color: var(--color-accent);
  color: white;
  font-size: 22px;
  padding: 12px 24px;
  border-radius: 8px;
  border: 3px solid var(--color-text);
  box-shadow: 0 4px 0 var(--color-text);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button a {
  text-decoration: none;
  color: white;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 0 inherit;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 inherit;
}

a:hover {
  transform: scale(105%);
}

a:active,
svg:hover {
  transform: scale(95%);
}

hr {
  border: none;
  opacity: 20%;
  margin: 10px;
}

.tag {
  background-color: var(--color-high);
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: .75rem;
}